@import '../../components/bootstrap/bootstrap';

$center-margin: 0 auto;

header {
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer;

  .header-text {
    margin: $center-margin;
  }

  .header-banner {
    background: url('./images/banner.gif');
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
  }

  .io-text {
    margin: $center-margin;
    width: 50px;
  }
}